target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
!runelite-client/src/main/resources/net/runelite/client/chatarchiver/players/.gitkeep